
# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
.env

# Data/output
*.csv
*.log
*.sqlite3
data/
api/data/

# VSCode/PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
